@charset "utf-8";

* {
    padding: 0;
    margin: 0;
}

div#map_canvas {
    height: 300px;
}

header {
    height: 45px;
}

footer {
    height: 45px;
}
ul li{
	list-style: none;
	display: inline;
}

.toolbar {
    text-align: center;
    background: -moz-linear-gradient(top, #222222, #555555);
    background: -webkit-gradient(linear, left bottom, left top, from(#222222), to(#555555));
}
header h1 {
    line-height: 45px;
    font-size: 22px;
    font-weight: bold;
}